.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.taskElement {
  border: solid;
  border-color: red;
  font-size: large;
  font-style: italic;
  border-radius: 5px;
  padding: 20px;
}
.taskElement :hover {
  color: papayawhip;
}
.taskElement:hover {
  border-color: papayawhip;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2 {
  text-align: center;
}

body {
  padding: 20px;
  height: 100%;
  margin: 10;
  display: flex;
  flex-direction: column;
  background-color: papayawhip;
  font-family: "Droid";
  align-items: center;
}
.task-element {
  padding: 20px;
  width: inherit;
  margin-top: 1em;
  text-align: center;
  box-shadow: 1px 1px 0px 0px black;
}
.task-element:active {
  position: relative;
  top: 1px;
  background-color: pink;
}
.tasks-element {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid, black;
  padding: 30px;
  align-items: center;
}
.move-to-done-button {
  height: inherit;
}
.add-task-form {
  border: 1px dashed black;
  border-radius: 3px;
  margin-top: 2em;
  display: flex;
  padding: 1em;
}
.submit-button {
  margin-left: 10px;
  padding: 7px;
  display: inline-flex;
  border-radius: 5px;
  border-color: darkcyan;
}
/*position: relative;

  -webkit-box-pack: justify;
  justify-content: space-between;*/

.remove-data-button {
  background-color: palevioletred;
  height: 70px;
  width: 100%;
  align-content: center;
}
