$primay-color: papayawhip;
$todo-color: green;
.App {
  text-align: center;
}

.taskElement {
  border: solid;
  border-color: red;
  font-size: large;
  font-style: italic;
  border-radius: 5px;
  padding: 2em;
}
.taskElement :hover {
  color: papayawhip;
}
.taskElement:hover {
  border-color: papayawhip;
}

h2 {
  text-align: center;
}

@media (min-width: 800px) {
  body {
    background-color: black;
  }
  .task-element {
    background-color: blue;
  }
}

body {
  padding: 10em;
  height: 100%;
  margin: 10em;
  display: flex;
  flex-direction: column;
  background-color: papayawhip;
  font-family: "Droid";
  align-items: center;
}
.task-element {
  padding: 1em;
  width: inherit;
  margin-top: 1em;
  text-align: left;
  display: flex;
  flex-direction: row;
  box-shadow: 0.1em 0.1em 0px 0px black;
}
.task-element:active {
  position: relative;
  top: 0.2em;
  background-color: pink;
}
.buttons-group {
  display: flex;
  flex-direction: column;
  width: [ "10%", "20%" ];
}
.tasks-element {
  margin-top: 10px;
  display: flex;
  flex-direction: row;

  border: solid, black;
  border-radius: 4px;
  padding: 30px;
  background-color: inherit;
  margin: 10px;
}
.move-to-done-button {
  height: inherit;
}
.add-task-form {
  border: 1px dashed black;
  border-radius: 3px;
  margin-top: 2em;
  display: flex;
  padding: 1em;
}
.task-name {
  width: 100%, 50%, 25%;
  display: flex;
  margin-right: 15px;
  box-shadow: 1px 0px 0px 1px black;
  padding: 1em;
}
.submit-button {
  margin-left: 10px;
  padding: 7px;
  display: inline-flex;
  border-radius: 5px;
  border-color: darkcyan;
}
/*position: relative;

  -webkit-box-pack: justify;
  justify-content: space-between;*/

.remove-data-button {
  background-color: palevioletred;
  height: 70px;
  width: 100%;
  align-content: center;
}

.done-group {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  background-color: mediumseagreen;
}
.todo-group {
  margin: 10px;
  padding: 20px;
  background-color: mistyrose;
}
.working-on-it-group {
  padding: 20px;
  margin: 10px;
  background-color: palevioletred;
}
.stuck-group {
  margin: 10px;
  padding: 20px;
  background-color: tomato;
}
.waiting-group {
  margin: 10px;
  padding: 20px;
  background-color: dodgerblue;
}

/*
App
  ThemeProvider
  TaskForm
  RemoveAllData
  TasksLists
    TaskElement
      TaskList
        GroupOfButtons
          ButtonElement
*/
